*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 4rem;
    width: 100%;
    background-color: #fad826;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav{
    display: flex;
    gap: 2rem;
    font-family: "Roboto", sans-serif;
    color: #002515;
    font-weight: 600;
}