* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue2: #0F61CE;
    --blue1: #057acb;
    --deepBlue: #1875F0;
    --blackText: #000000;
    --whiteText: #FFFFFF;
    --dmFont: "DM Sans", sans-serif;
    --deepblack: #060807B2;
    --whitesmoke: #F6FBFE;
    --otherBlue: #3996d5;
    --fadedWhite: #DFE0E5;
    --light-ash: #808080;
    --otherblack: #0B1034;
    --bluetext: #5C5F77;



}


body {
    width: 100%;
    height: 7092px;
   
}


main {
    height: 6658px;
    width: 100%;


}

footer div {
    width: 820px;
    height: 214px;

    opacity: 1;
    gap: 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;

}

footer div h1 {
    font-family: var(--dmFont);
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;

    line-height: 110.00000000000001%;
    letter-spacing: -4%;
    text-align: center;
    color: var(--whiteText);

}

#hero-section {
    height: 891px;
    width: 100%;
    background-color: var(--blue1);
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.hero-item1 {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 296px;
    opacity: 1;
    justify-content: center;
    /* margin-left: 155px;
margin-right: 155px; */
    gap: 40px;
    padding: 0 8rem;

}

.hero-item1 h1 {
    font-family: var(--dmFont);
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    line-height: 110.00000000000001%;
    letter-spacing: -4%;
    text-align: center;
    color: var(--whiteText);
}

.hero-item1 p {
    font-family: var(--dmFont);
    font-weight: 500;
    font-style: Medium;
    font-size: 1.3rem;
    line-height: 160%;
    letter-spacing: -3%;
    text-align: center;
    color: var(--fadedWhite);

}


#hero-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 42px;
    gap: 1rem;




}

.button1 {
    background-color: var(--whiteText);
    width: 160;
    height: 42;
    opacity: 1;
    gap: 8px;
    border-radius: 48px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    color: var(--deepBlue);
    border: none;
    font-family: var(--dmFont);
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;


}



.button2 {

    width: 152px;
    background-color: var(--otherBlue);
    color: var(--whiteText);
    height: 42px;
    opacity: 1;
    gap: 8px;
    border-radius: 48px;
    border-width: 1px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    backdrop-filter: blur(4px);
    border: 1px solid #FFFFFF33;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;
    font-family: var(--dmFont);

}



.hero-item2 {
    width: 90%;
    height: 125px;
    opacity: 1;
    display: flex;
    gap: 70px;
    
    /* background-color:var(--blue2); */
    text-align: center;
    color: var(--whiteText);

    border-radius: 40px;
    padding: 1.5rem 3.5rem;

    background: linear-gradient(90deg, rgba(15, 97, 206, 0.7) 0%, rgba(11, 81, 148, 0.7) 100%);
    border: 1px solid #FFFFFF
}

.hero-item2-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.hero-item2-box h1 {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 3.5rem;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;
    text-align: center;


}

.hero-item2-box p {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 0.95rem;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;
    text-align: center;

}




.box-3-item {
    display: flex;
    /* justify-content: center;
    align-items: center; */

    flex-direction: column;



}

#socials {
    padding-top: 50px;
    width: 100%;
    height: 200px;
    opacity: 1;
    background-color: #0a0b0b;
}

#socials p {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--light-ash);

}


#socials img {

    width: 120px;
    height: 40.546875px;
    opacity: 1;
    top: 119px;
    left: 140px;
    mix-blend-mode: Luminosity;

}

#socials div {
    display: flex;
    justify-content: space-around;
    padding: 0 140px;




}

#socials div p {
    color: #808080;
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 50px;

}

#who-we-are {
    display: flex;
    flex-direction: column;
    gap: 91px;
    justify-content: center;
    width: 100%;
    height: 957px;
    opacity: 1;
    background-color: var(--whitesmoke);


}

.box1 {
    width: 100%;
    height: 196px;
    opacity: 1;
    gap: 16px;
    text-align: center;
    padding: 91px 206px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.box1 button {
    width: 219px;
    height: 42px;
    opacity: 1;
    gap: 8px;
    border-radius: 48px;
    border-width: 1px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    background-color: #057ACB;
    color: var(--whiteText);

}

.box2 {
    display: flex;
    gap: 25px;
    width: 100%;
    height: 957px;
    opacity: 1;
    padding: 0 53px;



}

.box2 div {
    width: 623px;
    height: 563px;
    opacity: 1;
    gap: 37px;

}




.box2 img {
    width: 623px;
    height: 222px;
    opacity: 1;
    border-radius: 10px;
}

.hi-image img {
    width: 428px;
    height: 309px;
    border-radius: 10px;

}

#key-p-act {
    width: 100%;
    height: 1708px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 52px;
    background-color: #F6FBFE;


}

#key-p-act h1 {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -3%;
    text-align: center;
    color: var(--otherblack);


}

#key-p-act p {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 19px;
    line-height: 160%;
    letter-spacing: -2%;
    text-align: center;
    color: var(--bluetext);

}

#key-p-act div {
    width: 554px;
    height: 586px;
    opacity: 1;
    gap: 26px;


}

#key-p-act img {
    width: 549px;
    height: 397px;
    opacity: 1;
    border-radius: 20px;

}

#container1 {
    display: flex;
}

#container2 {
    display: flex;
}

#key-p-act button {
    width: 219px;
    height: 42px;
    opacity: 1;
    gap: 8px;
    border-radius: 48px;
    border-width: 1px;
    background-color: var(--blue1);
    color: var(--fadedWhite);
}

.box-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-1 h1 {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--otherblack);

}

.box-1 p {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--bluetext);
    text-align: start;


}

.box-2 h1 {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--otherblack);
}

.box-2 p {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--bluetext);
    text-align: start;

}

.box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#join-section {
    width: 100%;
    height: 534px;
    opacity: 1;
    background-color: var(--blue1);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 76.5px;
    gap: 40px;

}

#join-section h1 {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 56px;
    line-height: 110.00000000000001%;
    letter-spacing: -4%;
    text-align: center;
    color: var(--whiteText);

}

#join-section p {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -3%;
    text-align: center;
    color: var(--fadedWhite);

}

#join-section div {
    width: 576px;
    height: 48px;
    opacity: 1;
    display: flex;
    gap: 40px;
    justify-content: center;


}

.jat {
    width: 268px;
    height: 48px;
    opacity: 1;
    border: none;
    gap: 8px;
    border-radius: 48px;
    background-color: var(--whiteText);
    color: var(--blue1);
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;

}

.e-s {
    width: 268px;
    height: 48px;
    opacity: 1;
    gap: 8px;
    border-radius: 48px;
    border-width: 1px;
    color: var(--whiteText);
    border: 1px solid #FFFFFF;
    background-color: var(--blue1);
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;


}

#success-stories {
    width: 100%;
    height: 757px;
    opacity: 1;
    background-color: var(--whitesmoke);


}

#success-stories h1 {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -3%;
    text-align: center;

}

#success-stories p {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -2%;
    text-align: center;
    color: var(--bluetext);


}

.images {
    width: 100%;
    height: 416px;
    opacity: 1;
    display: flex;
    gap: 48px;

}

.images div img {
    width: 375px;
    height: 280px;
    opacity: 1;
    border-radius: 20px;

}


@media (max-width:600px) {
   header nav {
    display: none;
    overflow: hidden;
   }
}


























footer {
    height: 434px;
    width: 100%;
    background-color: var(--blackText);
}

header {
    width: calc(100% - 200px);
    height: 69.08px;
    top: 20px;
    left: 100px;
    padding: 10px 16px;
    border-color: var(--whiteText);
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    color: var(--whiteText);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;




}



header img {
    width: 94;
    height: 49.080589294433594;

    opacity: 1;

}

header nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    font-family: var(--dmFont);
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--whiteText);
    text-decoration: none;

}

header button {
    width: 145px;
    height: 48px;
    border: none;
    opacity: 1;
    gap: 8px;
    border-radius: 48px;
    padding: 8px 16px;
    background-color: var(--deepBlue);
    color: var(--whiteText);
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;

}